#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ranking-favorite {
  background-color: #9ed6f1
}

.ranking-outsider {
  background-color: #baff9b
}

.ranking-average {
  background-color: #dadada
}

.ranking-unexpected {
  background-color: #f9e8b6
}

.ranking-bottom {
  background-color: #ffcbcb
}

.selected-team {
  border-style: solid;
  border-width: 2px;
  border-color: green;
}